@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body {
    font-family: var(--font-family-secondary);
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-family-primary);
  }

  .font-secondary {
    font-family: var(--font-family-secondary);
  }

  .transition-hover {
    transition: var(--transition-hover);
  }

  .transition-toggle {
    transition: var(--transition-toggle);
  }

  .border-radius-control {
    border-radius: var(--control-border-radius);
  }
}
